<div class="ui sixteen wide row">
  <div class="five wide column"></div>
  <div class="six wide middle column">
	<div class="ui huge centered header">
		Devrecord
  	<div class="ui tiny circular image">
  		<img src="https://pbs.twimg.com/profile_images/570993935992905728/C6SKeDkp_bigger.jpeg"></img>
  	</div>
	</div>
	<div class="ui small italicized dividing header">
		<i>just tracking a few things</i>
	</div>
</div>
</div>
<div class="ui eight wide column">
  <div class="ui special cards">
    
    <a href="#" class="ui card">
      <div class="dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="">
              <style>
                .ui.inverted.header {
                  position: relative;
                  top: 70px;
                }
                .ui.card:hover {
                  opacity: 0.9;
                }
              </style>
              <div class="ui inverted header">Musings</div>
            </div>
          </div>
        </div>
        <img src="/images/brain.jpg">
      </div>
    </a>
    
  </div>
</div>
<div class="ui eight wide column">
  <div class="ui special cards">
    
    <a href="#" class="ui card">
      <div class="dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="">
              <style>
                .ui.inverted.header {
                  position: relative;
                  top: 70px;
                }
                .ui.card:hover {
                  opacity: 0.9;
                }
              </style>
              <div class="ui inverted header">Blogs</div>
            </div>
          </div>
        </div>
        <img src="/images/circuit.jpg">
      </div>
    </a>
    
  </div>
</div>