<div class="sixteen wide wide column">
	<div class="ui huge centered header">
		Devrecord
	<div class="ui tiny circular image">
		<img src="https://pbs.twimg.com/profile_images/570993935992905728/C6SKeDkp_bigger.jpeg"></img>
	</div>
	</div>
	<div class="ui small centered italicized header">
		<i>just tracking a few things</i>
	</div>
</div>