<!DOCTYPE html>
<html>
<head>
	<title>post1.</title>
	<link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="//hosting.devrecord.com/scripts/extras.js"></script>
    <script type="text/javascript">$(document).ready(function(){
      $('code').addClass('prettyprint');
    })</script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
      <header>

        <h1><img src="/images/logo.png" class="octicon octicon-image" width="40" height="40">post1.</h1>

      </header>
      <section>
	     <h1>Welcome</h1>

<p>This is just a test post</p>

<p>but here is some code ::</p>

<pre><code>var count = 0;
var a = b = function( fun ) {
    a = fun;
    counte++;
    b( a ) || a( b );
}
</code></pre>
      </section>
      <section>
        
        undefined
        post1.md
        
      </section>
      <footer>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-52537882-1");
            pageTracker._trackPageview();
            } catch(err) {}
      </script>
  </body>
</html>